li a {
    color: green;
}

body {
    background: white url("images/corgi.jpg") no-repeat;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
nav ul li {
    display: block;
}