<html>
    <head>
        <title>Foo!</title>
        <style>
            ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }            
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/foo">Foo</a></li>
            </ul>
        </nav>        
        <div>
            This is the foo page!
        </div>
    </body>
</html>